
{{input value=search.filter.officialTitle placeholder='Filter by Title'}}

{{#power-select-multiple options=search.phaseOptions selected=search.filter.selectedPhases placeholder=" Filter by Phase" onchange=(action (mut search.filter.selectedPhases )) as |phase|}}
  {{phase}}
{{/power-select-multiple}}

{{!-- triggers list-filter searchStudies action --}}
<button class='btn btn-primary' {{action 'searchStudies' }}> Search </button>


{{yield results}}
