{{!-- {{input value=value key-up=(action 'handleFilterEntry') class="light"placeholder="Filter By Phase"}} --}}

{{#power-select-multiple options=phasesOptions selected=selectedPhases placeholder="Filter by Phase" onchange=(action (mut selectedPhases )) as |phase|}}
  {{phase}}
{{/power-select-multiple}}
<button class='btn btn-primary' {{action 'searchStudies' }}> Search </button>
{{yield results}}
