
{{#power-select-multiple options=search.phases selected=phase placeholder="Filter by Phase" onchange=(action (mut phase)) as |phase|}}
  {{phase}}
{{/power-select-multiple}}
<button class='btn btn-primary' {{action 'searchStudies' phase}}> Search </button>
