
{{#power-select-multiple options=phases selected=phase placeholder='Select Phase' onchange=(action (mut phase)) as |phase|}}
  {{phase}}
{{/power-select-multiple}}

<button class='btn btn-default' {{action 'searchStudies' phase}}> Search </button>
