
{{#power-select-multiple options=search.phaseOptions selected=selectedPhases placeholder="Filter by Phase" onchange=(action (mut selectedPhases )) as |phase|}}
  {{phase}}
{{/power-select-multiple}}
<button class='btn btn-primary' {{action 'searchStudies' selectedPhases }}> Search </button>
