@import 'node_modules/elegant-icons-sass/scss/elegant-icons-sass';
@import 'bootstrap';
@import 'bootstrap/theme';
@import url('https://fonts.googleapis.com/css?family=Lora');

$ei-generate-classes: true;

// general
html, body, .search-container{
  height: 100%;
}

p, h1, h2, h3, h4 {
  font-family: 'Lora', serif;
}

// index

.banner {
  height: 250px;
  background: #009688;
}

.search{
  top: 25%;
  width: 30%;
  position: relative;
  margin: 0 auto;
  > button {
    width: 50%;
    @include elegant-icon('icon_search');
  }
  > h1, p{
    color: white;
  }

}

.background{
  background-size:contain;
  background-repeat: no-repeat;
  background: url('http://imfou.actioncom.fr/dbIMAGE/barriquand/hd/I_1442484025026.JPG');
}


.comment {
  position: relative;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  > .edits {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  > .comment-body{
    width: 80%;
    float: right;
  }
}

.spinner {
  background: rgba(68,68,68,.7);
}

.form-inline {
  white-space: pre-wrap;
  width:inherit;
  > .form-control {
    width: 100%;
    max-width: 100%;
  }
}

textarea {
  width:100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.user-info {
  float:left;
  text-align: center;
  width:20%;
}

.search-background {
  height: 1000px;
  background-size:contain;
  background-repeat: no-repeat;
  background: url('https://www.walldevil.com/wallpapers/a70/3751-wallpapers-abstract-hqcyber-gallery.jpg');
}
.records {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}


.user-form {
  margin: 0 auto;
  width: 30%;
}

.loading {
  width: 1000px;
  height: 1000px;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
   background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

.navbar-default {
  background-image: linear-gradient(to bottom, #508bc1 0%, #285d8c 100%);
}

.navbar-default .navbar-brand {
    color: #f9f9f9;
}
.navbar-default .navbar-nav > li > a {
    color: #f9f9f9;
}

// pagination

.page-links {
  text-align: center;
}
.page-results {
  width: 200px;
  margin: 0 auto;
  > p {
    margin: 0;
  }
}


$ember-power-select-multiple-selection-background-color: #009688 !default;
$ember-power-select-multiple-selection-color: #ffffff !default
@import "ember-power-select";
