<h3> Comments </h3>
{{study-components/comment}}
{{#if isAuthenticated}}
  {{study-components/comment-form newComment='newComment'}}
{{/if}}

{{#each study.comments as |comment|}}
  {{study-components/comment comment=comment}}
{{/each}}
