
<form {{action 'newComment' study on='submit'}}>
  {{textarea rows='5' class="form-control" value=comment.text type='text'}}
  {{!-- {{input placeholder='New Trial Notes' value=comment.text}} --}}
  <button type='submit' class='btn btn-success' > Save </button>
</form>
