

  <p>{{comment.text}}</p>
  <button {{action 'deleteComment' comment}} class="btn btn-default btn-xs btn-warning">
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
  </button>
