
<div class='banner'>
  <div class='search'>
    <h1> Open Clinic</h1>
    <p>Search thousands of Clinical Trial records.
      Powered by the Open Clinic API.</p>
       <button class='btn btn-primary' {{action 'searchStudies'}}> Search </button>
  </div>
</div>

<div class='about'>

</div>
