
<h1> Studies </h1>

{{!-- list filter in 'block form' --}}
{{#list-filter filter=(action 'filterByPhase') as |filteredStudies|}}
<table class='table table-striped'>
  <tbody class='table-striped'>
    {{#each filteredStudies as |study|}}
    <tr>
      <td> {{study.officialTitle}} </td>
      <td> {{#link-to 'study' study}}Details{{/link-to}} </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/list-filter}}
