{{!-- study route hbs --}}
<div class='records'>
  <button class='btn btn-default' {{action 'back'}}> &#8592; Return to Studies </button>
{{study-components/study study=model}}
{{study.briefTitle}}
{{study-components/comments study=model editComment= 'editComment' newComment='newComment' deleteComment='deleteComment'}}
</div>
