{{search-form phases=phases searchStudies='searchStudies'}}

<h1> Studies </h1>
<table class='table table-striped'>
  <tbody class='table-striped'>
{{#each model as |study|}}
  <tr>
    <td> {{study.officialTitle}} </td>
    <td> {{#link-to 'study' study (query-params phase=phase)}}Details{{/link-to}} </td>
  </tr>
{{/each}}
  </tbody>
</table>
