
<div class='records'>
<h1> Search By Study </h1>

{{!-- renders list-filter component, which yeilds all filtered studies --}}
{{!-- filter is the filterByPhase action in studies controller --}}

{{#list-filter filter=(action 'filterByPhase') as |filteredStudies|}}
<table class='table table-striped'>
  <tbody class='table-striped'>
    {{#each filteredStudies as |study|}}
    <tr>
      <td> {{study.officialTitle}} </td>
      <td> {{#link-to 'study' study}}Details{{/link-to}} </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/list-filter}}

</div>
